input,button
{
 font-style:calibri;
 padding:4px;
 margin:20px;
}
body
{
 
 background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin: 0 !important;
    background-size: 100% cover !important;
    overflow: hidden;
    display: block;
    height: 100%;
    padding: 50px;
}
button
{
 background-color:blue;
  width: 10%;
    
    color: white;
    padding: 4px 2px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.dd {
    background-color: #ebeae6;
    border-radius: 4px;
    border: none;
}


.res{
    text-align: center;
    font-size: large;
   background-color: Blue;
   margin-top: 10px;
   width:50%;
   color:aliceblue
